<!-- sidebar-nav -->
<div class="col-md-3" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
    <!-- brand -->
    <div id="masthead">
        {% include {{page.sidebar-branding-file}} %}

        </div><!--/masthead-->
        <!-- /brand -->
        {% for item in page.sections %}
<!-- forloop.index = {{ forloop.index }} {{item}} -->
        {%   assign heading = item['heading'] %}
        {%   if item['ref'] %}
        {%     assign ref = item['ref'] %}
        {%   else %}
        {%     capture slug %}{{ heading | trim | slugify }}{% endcapture %}
        {%   assign ref = slug %}
        {%   endif %}
        {%   if item['title'] %}
        {%     assign title = item['title] %}
        {%   else %}
        {%     assign title = heading %}
        {%   endif %}        
        <li><a href="#{{ref}}">{{heading|markdownify}}</a></li>
        {% endfor %}
    </ul>
</div>
<!-- /sidebar-nav -->
